/* temporary style to confirm CSS loads. */
h1 {
  color: white;
  
}

h2 {
  color: skyblue;
}

.popbutton {
  background-color: yellow;
  color: black;
  padding: 10px 10px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bolder;
}


[popover] {
  border: none !important;
  outline: none !important;
  background: transparent !important;
  padding: 0 !important;
}

body {
  background-color: black
}

/* chatgpt ask:
how to change border of image popup */
